*.egg-info
*.mo
*.pyc
*.DS_Store
*~
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings
bin/
coverage/
develop-eggs/
dist/
downloads/
eggs/
htmlcov/
include/
lib/
local.cfg
Makefile
parts/
src-git/
var/
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
docs/build
